{% extends 'base.html' %}
{% block title_text %}Juan Emeterio | Home{% endblock %}
{%block content%}
		<div class = "container">

			<div class = "jumbotron text-center other-color">
				<img class = "img-responsive  center-block img-circle" src = "{{static_content.img.url}}" width = "25%"  >
				<h1>{{static_content.title}}</h1>
				<p>{{static_content.content|safe}}</p>
				<a class="btn btn-large btn-primary custom-width" href = "http://www.linkedin.com/in/juanjsanemeterio">LinkedIn</a>
				<a class="btn btn-large btn-success custom-width" href = "http://www.github.com/juanjose49">GitHub</a>

			</div>
		</div>

		<div class = "container">
			<div class = "row">

			{% for recent_post in recent_posts %}
				<div class = "col-md-4">
					<div class="panel panel-default">
					<a href = "content/{{recent_post.type|lower}}/{{recent_post.id}}"><img  class = "featuredImg  img-responsive img-rounded"  src = "{{recent_post.img.url}}" style = "padding-top: 10px; padding-left: 15px; padding-right: 15px;" width = "100%" > </a>	
 						 <div class="panel-body">
							<h3><a href = "content/{{recent_post.type|lower}}/{{recent_post.id}}">{{recent_post.title}}</a></h3>
							<h6>{{recent_post.date}}</h6>
							<p>{{recent_post.short_content|truncatechars:300 | safe}}</p>
							<a href = "content/{{recent_post.type|lower}}/{{recent_post.id}}" class = "btn btn-{% if recent_post.type|stringformat:"s" == "Projects" %}danger{% else %}primary{% endif %} pull-right">View {% if recent_post.type|stringformat:"s" == "Projects"%}Project{%else%}{{recent_post.type}} Entry{%endif%}</a>
						</div>
					</div>
				</div>
			{% endfor %}
			
			</div>
		</div>
{%endblock%}

{% block active_link %}home_link{% endblock %}