{% extends 'base.html' %}
{% block title_text %}Juan Emeterio | Home{% endblock %}
{%block content%}
		<div class = "container">

			<div class = "jumbotron text-center">
				<img class = "img-circle img-responsive center-block" src = "https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/005/092/125/227170f.jpg" width = "25%" >
				<h1>Hello, World!</h1>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ligula non ligula tincidunt vulputate. Mauris rhoncus mollis nibh, eget congue nibh posuere vel. Aliquam aliquam consectetur magna nec rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
				</p>

			</div>
		</div>

		<div class = "container">
			<div class = "row">
				<div class = "col-md-4">
					<h3><a href = "#">$500 Gaming PC</a></h3>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ligula non ligula tincidunt vulputate. Mauris rhoncus mollis nibh, eget congue nibh posuere vel. Aliquam aliquam consectetur magna nec rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
					</p>
					<a href = "#" class = "btn btn-default">Read More</a>
				</div>

				<div class = "col-md-4">
					<h3><a href = "#">I earn $1M per month!</a></h3>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ligula non ligula tincidunt vulputate. Mauris rhoncus mollis nibh, eget congue nibh posuere vel. Aliquam aliquam consectetur magna nec rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
					</p>
					<a href = "#" class = "btn btn-default">Read More</a>
				</div>

				<div class = "col-md-4">
					<h3><a href = "#">Come get it!</a></h3>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ligula non ligula tincidunt vulputate. Mauris rhoncus mollis nibh, eget congue nibh posuere vel. Aliquam aliquam consectetur magna nec rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
					</p>
					<a href = "#" class = "btn btn-default">Read More</a>
				</div>


			</div>
		</div>
{%endblock%}

{% block active_link %}home_link{% endblock %}