body {
	padding-top: 80px;
	padding-bottom: 0px;
}
.page-header {
	margin-top: 0;

}

.panel-body {
	padding-top: 0;
}

.featuredImg {
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}

p{
	font-size: 16px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-static-bottom{
	margin-top: 0px;
}


