body {
	padding-top: 65px;
	padding-bottom: 65px;
}
.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featuredImg {
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}

p{
	font-size: 16px;
}


