body {
	padding-top: 80px;
	padding-bottom: 0px;
}
.page-header {
	margin-top: 0;

}

.panel-body {
	padding-top: 0;
}

.featuredImg {
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}

p{
	font-size: 16px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-static-bottom{
	margin-top: 0px;
}

.custom-width{
	width: 100px;
}

u {
    text-decoration: none;
    border-bottom: 2px solid black;
  }

  @media (max-width: 750px){
    
    .featuredImg {
        width: 100%;
    }
    .img-circle{
    	width: 50%;
    }
}
